<template id="template">
    <h3>{{downloadDir}}</h3>
    <div  style="padding: 10px 20px;">
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>名字</th>
                    <th>大小</th>
                    <th>修改时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, i) in files">
                    <td>
                        <template v-if="item.is_dir">
                            <span style="color: #3883fa;">
                                {{item.name}}
                            </span>
                        </template>
                        <template v-else>
                            {{item.name}}
                        </template>
                    </td>
                    <td>
                        {{item.size}}
                    </td>
                    <td>
                        {{item.modify_time_string}}
                    </td>
                    <td>
                        <button class="btn btn-link" @click="handleDelete(item)">删除</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
    window.VueObject = {
        data() {
            return {
                downloadDir: '',
                files: []
            }
        },
        template: '#template',
        async mounted() {
            await this.getDownloadDir()
            await this.getFiles()
        },
        methods: {
            async getDownloadDir() {
                let data = await window.go.bind.System.GetDownloadDir()
                this.downloadDir = data
            },
            async getFiles() {
                let data = await window.go.bind.File.ListDir(this.downloadDir)
                for (let i = 0; i < data.length; i++) {
                    data[i].size = filesize(parseInt(data[i].size), { standard: "jedec" })
                }
                this.files = data.sort(function (a, b) {
                    if (a.modify_time > b.modify_time) {
                        return -1
                    }
                    return 1
                })
            },
            async handleDelete(item) {
                bootbox.confirm('确实删除该文件？无法恢复', async (result) => {
                    if (!result) {
                        return
                    }
                    let data = await window.go.bind.File.Delete(item.path)
                    this.getFiles()
                })
            }
        }
    }

</script>