<template id="template">
    <h3>内网IP</h3>
    <hr />
    <div>
        <div class="col-md-4" v-for="item in ipList">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{item}}
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    window.VueObject = {
        data() {
            return {
                ipList: [],
            }
        },
        template: '#template',
        async mounted() {
            this.getInnerIP()

        },
        methods: {
            async getInnerIP() {
                let data = await window.go.bind.System.GetInnerIP()
                this.ipList = data
            }
        }
    }

</script>