<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="Description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>{[{.title}]}</title>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="/assets/js/vue.global.js"></script>
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/qrcode.min.js"></script>
    <script src="/assets/bootstrap/bootstrap.min.js"></script>
    <script src="/assets/bootstrap/bootbox.min.js"></script>
    <script src="/assets/jsoneditor/jsoneditor.js"></script>
    <script src="/global.js"></script>
    <script src="/assets/js/json-to-go.js"></script>
    <script src="/wails/ipc.js"></script>
    <script src="/wails/runtime.js"></script>
    <link type="text/css" rel="stylesheet" href="/assets/bootstrap/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/assets/jsoneditor/jsoneditor.css">
    <link type="text/css" rel="stylesheet" href="/global.css">
    <script type="text/javascript">
        window.VueObject = null
        window.VueMount = "#app"
        window.Vm = null   
        window.PageData = {[{.page_data}]}   
        document.addEventListener("DOMContentLoaded", async () => {
            if (typeof startWork == "function") {
                startWork()
            }
            setTimeout(() => {
                if (window.VueObject != null) {
                    window.Vm = mountVueObject(window.VueObject, window.VueMount)
                }
            }, 10)
    }, false);
    </script>
</head>

<body>
    <div class="navbar-fixed-side">
        {[{ partial "navigation"}]}
    </div>

    <div id="app"></div>
    {[{ yield }]}   
</body>
</html>