<div id="navigation">
    <a href="/">JSON</a>
    <a href="/">Simple</a>
</div>
<style type="text/css">
    #navigation a {
        color: #3883fa;
        text-decoration: none;
        font-weight: bold;
        font-size: medium;
        padding: 15px 1px;
        display: block;
        text-align: center;
        border-bottom:  1px solid #3883fa;
    }
</style>